<mat-toolbar color="primary" class="app-toolbar">
    <mat-toolbar-row>
        <mat-icon>tonality</mat-icon>
        <a mat-flat-button color="primary" [routerLink]="'print'"><h1>EGGBOT</h1></a>
        <span class="flex-spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu" aria-label="Menu">
            <mat-icon>dehaze</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="'print'" aria-label="Print">
                <mat-icon>list_alt</mat-icon>
                <span>Design List</span>
            </button>
            <button mat-menu-item [routerLink]="'setup'" aria-label="Config">
                <mat-icon>settings</mat-icon>
                <span>Edit Settings</span>
            </button>
            <a button mat-menu-item href="https://github.com/andrei-tatar/wifi-egg-duino" target="_blank">
                <mat-icon>supervised_user_circle</mat-icon>
                <span>About</span>
            </a>
            <a button mat-menu-item href="https://paypal.me/andreitatar" target="_blank">
                <mat-icon>sentiment_satisfied_alt</mat-icon>
                <span>Donate</span>
            </a>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
<div class="container">
    <router-outlet></router-outlet>
</div>